<head>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const urlParams = new URLSearchParams(window.location.search);
            const message = urlParams.get('message');
            
            if (message === 'success') {
                alert('Produsul a fost adăugat cu succes!');
            }
        });
    </script>
</head>

<h1>Adaugă un produs nou</h1>
<fieldset> 
    <legend>Detalii produs:</legend>
    <form action="/adaugare_produs" method="POST">
        <label for="nume">Nume produs:</label>
        <input type="text" id="nume" name="nume" required>
        <br><br>
        <label for="pret">Preț produs:</label>
        <input type="number" id="pret" name="pret" required>
        <br><br>
        <button class="button" type="submit">Adaugă produs</button>
    </form>
</fieldset>
    <br>
    <form action="/admin" method="get"> 
        <button class="button" type="submit">Înapoi la pagina principală</button> 
    </form>